NEXT_PUBLIC_SUPABASE_URL=https://guapqxxbhnfcezoocgrs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1YXBxeHhiaG5mY2V6b29jZ3JzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgyODkyMTMsImV4cCI6MjEwMzg2NTIxM30.PZufMBs_-eUgiKxdxbeGQUiWFnC0JXfTSAaDnGHXZ6k

